{% extends 'core/layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <h2 class="text-center display-4">EdLink</h2>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <form class="form-inline" action="{% url "home" %}" method="post">
                    {% csrf_token %}
                    {{ form.link }}
                    {{ form.url }}
                    <button type="submit" class="btn btn-success">Ajouter &nbsp; <i class="fa fa-plus"></i></button>
                </form>
            </div>
        </div>

        {% if error %}
            <div class="row">
                <div class="alert alert-danger text-center" role="alert" style="margin-top:20px;">
                    Ajout impossible : marque existante dans la base de données.
                </div>
            </div>
        {% endif %}

        {% if marques_liste.count == 0 %}
            <div class="alert alert-success text-center" role="alert">
                Aucune marque référencée. Vous ajouter une nouvelle marque en utilisant le formulaire ci-dessus.
            </div>
        {% endif %}
    </div>
{% endblock %}