{% extends 'core/layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center" style="margin-bottom:25px;">EdLink<br/><small><i>URL shortener with
            statistics</i></small></h2>

        {% if  custom_link_exists %}
            <div class="alert alert-danger" role="alert">
                <b>Warning:</b> Specified custom link already exists. A random one has been generated instead.
            </div>
        {% endif %}
        <div class="jumbotron">

            <form class="form" action="{% url "home" %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group-lg" style="margin-bottom: 10px">
                            <div class="input-group">
                                <div class="input-group-addon">http(s)://</div>
                                {{ form.target }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group-lg">
                            <div class="input-group">
                                <div class="input-group-addon">{{ app_url }}/</div>
                                {{ form.link }}
                            </div>
                            <small class="form-text text-muted"><i>Short link is optional, a random one will be
                                generated</i></small>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:15px;">
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-link"></i> Shorten</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}